body {
  background-color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
}

li {
  background-color: rgb(65, 153, 248);
}
p {
  padding: 1% 1% 1% 1%;
}
#list {
  display: table
  margin: 0 auto;
}
#board {
  height: 75%;
  width: 75%;
  display: block;
  margin-left: 10%;
}

#title {
  margin-top: 0%;
  padding-top: 0%;
  text-align: center;
}

#player-info {
  display: block;
  text-align: center;
}
#input {
  padding: 8px;
  height: 5rem;
  justify-content: center;
}

.info {
  width: 15%;
  height: 2.5rem;
  border: 1px solid rgb(0, 0, 0);
}

.info:hover {
  border: 2px solid rgb(18, 20, 61);
  outline: rgb(18, 20, 61);
}

.info:focus {
  border: 2px solid rgb(18, 20, 61);
}

#submit {
  border: 2px solid rgb(18, 20, 61);
  width: 9rem;
  height: 2.5rem;
  color: aliceblue;
  background-color: rgb(18, 20, 61);
}

#alert {
  display: none;
  color: rgb(242, 255, 0);
  padding-left: 45%;
  padding-top: 3%;
}


